<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestSuite" preserve-order="true" parallel="false">
	<listeners>
		<listener class-name="com.aepl.sam.listeners.TestListener" />
		<listener class-name="com.aepl.sam.listeners.Transform" />
	</listeners>
	<test name="ALLTests">
		<classes>
			<!-- <class name="com.aepl.sam.tests.DeviceDashboardPageTest" />
			<class name="com.aepl.sam.tests.DeviceModelsPageTest" />
			<class name="com.aepl.sam.tests.DispatchedDevicesPageTest" />
			<class name="com.aepl.sam.tests.FotaPageTest" /> -->
			<class name="com.aepl.sam.tests.GovernmentServerPageTest" />
			<class name="com.aepl.sam.tests.LoginPageTest" />
			<!-- <class name="com.aepl.sam.tests.ProductionDevicePageTest" />
			<class name="com.aepl.sam.tests.UserManagementPageTest" />
			<class name="com.aepl.sam.tests.UserProfilePageTest" />
			<class name="com.aepl.sam.tests.UserRolePageTest" /> -->
		</classes>
	</test>
</suite>