<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestSuite" verbose="1" preserve-order="true"
	parallel="false" thread-count="1">
	<listeners>
		<listener class-name="com.aepl.sam.listeners.TestListener" />
		<listener class-name="com.aepl.sam.listeners.Transformer" />
	</listeners>

	<test name="ALLTests" enabled="false">
		<classes>
			<class name="com.aepl.sam.tests.LoginPageTest" />
			<class name="com.aepl.sam.tests.DeviceDashboardPageTest" />
			<class name="com.aepl.sam.tests.DeviceDetailsPageTest" />
			<class name="com.aepl.sam.tests.DeviceModelsPageTest" />
			<class name="com.aepl.sam.tests.GovernmentServerPageTest" />
			<class name="com.aepl.sam.tests.FotaPageTest" />
			<class name="com.aepl.sam.tests.ProductionDevicePageTest" /> 
			<class name="com.aepl.sam.tests.DispatchedDevicesPageTest" />
			<class name="com.aepl.sam.tests.OtaPageTest" />
			<class name="com.aepl.sam.tests.CustomerMasterPageTest" />
			<class name="com.aepl.sam.tests.SimBatchDataDetailsPageTest" />
			<class name="com.aepl.sam.tests.UserManagementPageTest" />
			<class name="com.aepl.sam.tests.GroupManagementPageTest" />
			<class name="com.aepl.sam.tests.RoleManagementPageTest" />
			<class name="com.aepl.sam.tests.DealersManagementPageTest" />
			<class name="com.aepl.sam.tests.UserProfilePageTest" />
		</classes>
	</test>
	<test name="demo" enabled="true">
		<classes>
			<class name="com.aepl.sam.tests.LoginPageTest" />
			<class name="com.aepl.sam.tests.DeviceDashboardPageTest" />
			<class name="com.aepl.sam.tests.DeviceDetailsPageTest" />
			<class name="com.aepl.sam.tests.DeviceModelsPageTest" />
			<class name="com.aepl.sam.tests.GovernmentServerPageTest" />
			<class name="com.aepl.sam.tests.ProductionDevicePageTest" /> 
			<class name="com.aepl.sam.tests.DispatchedDevicesPageTest" />
			<class name="com.aepl.sam.tests.CustomerMasterPageTest" />
			<class name="com.aepl.sam.tests.SimBatchDataDetailsPageTest" />
		</classes>
	</test>
</suite>
